# Okavango_Scenario

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import sys
import matplotlib.patches as patches
from matplotlib.dates import date2num
import matplotlib.dates as mdates
from hydroeval import evaluator, nse, rmse, pbias
from pyemu.pst.pst_utils import SFMT,IFMT,FFMT

flopy is installed in C:\Users\seonggyu.park\Miniconda3\envs\sm_pest\lib\site-packages\flopy

# Set Path

In [7]:
wd_bau = "D:/Projects/Watersheds/Okavango/scenarios/okvg_swatmf_scn_bau"
wd_base = "D:/Projects/Watersheds/Okavango/scenarios/okvg_swatmf_calibrated_base"
wd_rd = "D:/Projects/Watersheds/Okavango/scenarios/okvg_swatmf_scn_rd"
# os.chdir(wd)

# Create Dataframe from output.hru

In [3]:
colnum = 9
colnam = 'IRRmm'
ylabel = "IRRmm"

In [8]:
# Select subs
subs = [63]

# Create data with parameter change
df_sub = pd.read_csv(
                    os.path.join(wd_rd, "output.hru"),
                    delim_whitespace=True,
                    skiprows=9,
                    usecols=[1, 3, 5, colnum],
                    names=["hru", "sub", "filter", colnam],
                    # index_col=0,
                    dtype={'filter': str},
                    low_memory=False)

In [5]:
df = df_sub.loc[df_sub['sub'] == 63]
df = df[df.loc[:, "filter"].astype(str).map(len) == 14]
df.loc[:, "filter_f"] = df.loc[:, "filter"].apply(lambda x: "{}".format(x[:4])).astype(float)
df = df[df.loc[:, "filter_f"] != 17]
df

          hru  sub          filter  IRRmm  filter_f
268269   7510   63  2003.67246E-01    0.0    2003.0
268270   7511   63  2003.13451E+00    0.0    2003.0
268271   7512   63  2003.26900E+00    0.0    2003.0
268272   7513   63  2003.20175E+00    0.0    2003.0
268273   7514   63  2003.53802E+00    0.0    2003.0
...       ...  ...             ...    ...       ...
4788185  7586   63  2019.61137E+00    0.0    2019.0
4788186  7587   63  2019.40758E+00    0.0    2019.0
4788187  7588   63  2019.40758E+00    0.0    2019.0
4788188  7589   63  2019.10189E+01    0.0    2019.0
4788189  7590   63  2019.20378E+00    0.0    2019.0

[1377 rows x 5 columns]

In [6]:
df['IRRmm'].sum()

0.0

In [227]:
for i in hru_df.hru:
    df['area(m2)'] = np.where((df['hru'] == i), hru_df['area(m2)'].loc[hru_df['hru'] == i], df['area(m2)'])
df['irr(m3)'] = df['IRRmm']*0.001 * df['area(m2)']

In [205]:
base_irr = df['irr(m3)'].sum()

In [214]:
bau_irr = df['irr(m3)'].sum()

In [228]:
rd_irr = df['irr(m3)'].sum()

# BAU

In [215]:
bau_irr

0.0

In [229]:
rd_irr

4820498510.824501

In [222]:
df

          hru  sub          filter  IRRmm  filter_f   area(m2)  irr(m3)
268269   7510   63  2003.67246E-01    0.0    2003.0    67200.0      0.0
268270   7511   63  2003.13451E+00    0.0    2003.0   134500.0      0.0
268271   7512   63  2003.26900E+00    0.0    2003.0   269000.0      0.0
268272   7513   63  2003.20175E+00    0.0    2003.0   201800.0      0.0
268273   7514   63  2003.53802E+00    0.0    2003.0   538000.0      0.0
...       ...  ...             ...    ...       ...        ...      ...
4788185  7586   63  2019.61137E+00    0.0    2019.0   611400.0      0.0
4788186  7587   63  2019.40758E+00    0.0    2019.0   407600.0      0.0
4788187  7588   63  2019.40758E+00    0.0    2019.0   407600.0      0.0
4788188  7589   63  2019.10189E+01    0.0    2019.0  1018900.0      0.0
4788189  7590   63  2019.20378E+00    0.0    2019.0   203800.0      0.0

[1377 rows x 7 columns]